@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --navbar-heigh: 48px;
  --logo-heigh: 64px;

  --text: #010904;
  --background: #ecfef5;
  --primary: #0ff083;
  --secondary: #7ef7f3;
  --accent: #48ddf4;

  --bg-card: #e1fdef;
  --bg-card-alt: #cbfbf4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-size: 1rem;
  overflow-x: hidden;
}

/* #################### Navegacion #################### */
#appHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

#appHeader #mainLogo {
  height: var(--logo-heigh);
}

/* #################### Contenedor principal #################### */
#appContent{
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 500;
}

.sectionCard{
  border-radius: 8px;
  padding: 1rem;
}

.sectionCard:nth-of-type(odd) {
  background-color: var(--bg-card);
}

.sectionCard:nth-of-type(even) {
  background-color: var(--bg-card-alt);
}

.card-title.even {
  --txt-detail: var(--primary);
}

.card-title.odd {
  --txt-detail: var(--secondary);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  width: fit-content;
}

.card-title::before {
  transition: left 0.3s ease;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  background-color: var(--txt-detail);
  height: 50%;
  top: 50%;
  left: 8px;
  z-index: -1;
}

.sectionCard:hover .card-title::before {
  left: -2px;
}

/* #################### Botones #################### */
.btn-primary {
  background-color: var(--primary);
  color: var(--text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.btn-primary:hover {
  background-color: var(--secondary);
}